<p>messages work!</p>
<ng-container>
  <div>
    <label> Enter id less than 100 :
      <input type = text (keyup)="getMessageById($event)">
    </label>
  </div>

  <div>
    <label>
      Enter city Name:
    </label>
    <input type = text #cityName>
  </div>
  <button mat-raised-button (click)="getWeatherData(cityName.value)">  Get weather data </button>
  <br>
  <p> {{specificMessage}}</p>
  <br>

  <br>
  <p> {{weatherReport}}</p>
  <br>
  <div *ngFor="let message of messages">
    <mat-card>
      <mat-card-title>
        {{message.first_name}}
      </mat-card-title>
      <mat-card-content>
        {{message.email}}
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>s
