<ng-container>
  <div>
    <label> Enter id less than 100 :
      <input type = text (keyup)="getMessageById($event)">
    </label>
  </div>

  <br>
  <p> {{specificMessage}}</p>
  <br>

  <mat-card>
    <mat-card-header> Result for searched results: </mat-card-header>
    <mat-card-content>
      FirstName: {{specificMessage}}
      Email: {{specificMessage}}
    </mat-card-content>
  </mat-card>

<!--  <div *ngFor="let message of messages">-->
<!--    <mat-card>-->
<!--      <mat-card-title>-->
<!--        {{message.first_name}}-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        {{message.email}}-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
</ng-container>


